.App{
  background-color: aqua;
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  
}

.card-body{
  background-color:pink;
  max-width:100%;
  height:400px;
  
}
.area{
  text-align:center;
  position:fixed;
  
  
}
.button{
  border-radius:0.5em ;
}
.blockquote-footer{
  font-style: italic;
  font-weight: 600;
}
.card-body{
  font-family: "Lobster", cursive;
  font-size:25px;
  border:solid black;
}

.card-header{
  border:solid black;
  color: blueviolet;
  font-size:30px;
}

